HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
SyslogFacility AUTHPRIV
PrintLastLog yes
UsePrivilegeSeparation sandbox
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE XMODIFIERS

UsePAM yes
PermitRootLogin no
X11Forwarding no
AllowAgentForwarding no
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile .ssh/authorized_keys

Subsystem sftp  /usr/libexec/openssh/sftp-server

Match Group upload-users
  AuthorizedKeysFile /etc/ssh/authorized_keys/%u
  ChrootDirectory /srv/sshd-chroot/%u
  ForceCommand internal-sftp
  AllowTcpForwarding no
  PermitTunnel no
